.containerUserInfo td {
  color: #778DA9;
  text-align: left;
  font-weight: 100;
}

.link {
  text-decoration: none;
  color: #778DA9;
  outline: none;
  border: none;
  background-color: none;
  cursor: pointer;
}
.user {
  color: #415A77 !important;
  text-decoration: none;
  font-weight: bold !important;
  outline: none;
  border: none;
  background-color: none;
  cursor: pointer;
}

.checkbox {
  cursor: pointer;
  transition: ease-in-out 0.4s;
  transform-style: preserve-3d;
}

.pencilEdit {
  display: flex;
  justify-content: center;
  outline: none;
  border: none;
  background-color: none;
  cursor: pointer;
}

